<a href="https://colab.research.google.com/github/naveenkarthikreddy/4rthSemPythonLab/blob/main/PythonLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON PROGRAMMING LAB 
(19CT1106)

K.NAVEEN KARTHIK REDDY 
(19131A0498)

LIST OF EXPERIMENTS:

WEEK1 Input and output

(a) Print the "Python" for 1, print "Day - 1" for 2. By changing the variable "look" for
each statement

In [ ]:
look=int(input("enter 0 or 1 only  "))
if (look==0):
  print("Python")
elif(look==1):
  print("Day-1")
else:
  print("Wrong entry ! please enter o or 1 only")

enter 0 or 1 only  1
Day-1

(b)Create a variable "number" and assign an Integer to the number. Check the assigned
Integer is "Positive" or "Negative".

In [ ]:
number=int(input("enter any number   "))
if(number>0):
  print("Given number is possitive")
elif(number<0):
  print("Given number is negative")
else:
  print("Given number is neither possitive nor negative")

enter any number   -1
Given number is negative

(c) Write a program to find the largest element among three Numbers

In [ ]:
a,b,c=input().split()
largestNumber=a if a>b and a>c else b if b>c else c
print(largestNumber)

2 5 4
5

(d) Write a program to print the sum of all the even numbers in the range 1 - 50 and print
the even sum.

In [15]:
evenSum=0
for i in range(1,51):
  if (i%2==-0):
    evenSum+=i
print(evenSum)

650

(e) Write a Program to display all prime numbers within an interval of 20 and 50.

In [17]:
from math import *
def checkIfPrime(num):
  for i in range(2,int(sqrt(num))+1):
    if num%i==0:
      break
  else:
    print(num) 
for i in range(20,51):
  checkIfPrime(i)

23
29
31
37
41
43
47

WEEK2 Variables and Functions

a. Write a program to swap two numbers without using a temporary variable.

In [18]:
a,b=input().split()
a,b=b,a
print(a)
print(b)

5 4
4
5

b. Write a program to define a function with multiple return values

In [19]:
def add_sub(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
sum,sub=add_sub(4,2)
print(sum)
print(sub)

6
2

c. Write a program which creates an adder given a value (Use only lambda).

In [20]:
adder=lambda a,b :a+b
adder(2,4)

6

d. Write a program to define a function using default arguments.

In [21]:
def default_args(a="python",b="lab"):
  print(a)
  print(b)
default_args()
default_args("gvp","vizag")

python
lab
gvp
vizag

WEEK3 Loops and conditionals

a. Write a program to print the following patterns using loop:
*
**
***
****

In [22]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

b. Write a program to print multiplication tables of 8, 15, 69.

In [23]:
def tables(n,limit):
  for i in range(1,limit+1):
    print(n,"*",i,"=",n*i)
  print()  

NoOfTimes=10
tables(8,NoOfTimes)
tables(15,NoOfTimes)
tables(69,NoOfTimes)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

69 * 1 = 69
69 * 2 = 138
69 * 3 = 207
69 * 4 = 276
69 * 5 = 345
69 * 6 = 414
69 * 7 = 483
69 * 8 = 552
69 * 9 = 621
69 * 10 = 690

WEEK4 Strings

a. Write a program to find the length of the string without using any library functions

In [24]:
def length(string):
  length=0
  for i in string:
    length+=1
  print(length)

length("GVPCE")

5

b. Write a program to check if two strings are anagrams or not.

In [25]:
def anagram(s1,s2):
  s1=sorted(s1.lower())
  s2=sorted(s2.lower())
  return s1==s2
# anagram("piG","g i p")
anagram("pig","gip")

True

c. Write a program to check if the substring is present in a given string or not. (use regular
expressions)

In [27]:
import re

Str = input("enter the string   ")
subStr=input("enter the substring   ")
x = re.findall(subStr, Str)
if(len(x)!=0):
  print("substring is present in a given string ")
else:
  print("not here")

enter the string   this is python regular expressions
enter the substring   regular
substring is present in a given string

WEEK5 lists

a. Write a program to perform the given operations on a list:
i. add ii. insert iii. slicing

In [28]:
def add(listt,value):
  listt.append(value)
  print(listt)

def insert(listt,indexNumber,value):
  listt[indexNumber]=value
  print(listt)

def slicing(listt,startingIndex,endingIndex):

  slicedList=listt[startingIndex:endingIndex:]
  print(slicedList)

listt=[2,3,2,3,43,4]
slicing(listt,3,6)
insert(listt,4,3333)
add(listt,444)

[3, 43, 4]
[2, 3, 2, 3, 3333, 4]
[2, 3, 2, 3, 3333, 4, 444]

b. Write a program to perform any 5 built-in functions by taking any list

In [42]:
l=[2,5,4,5,3,2,8]
print("maximum number is : ",max(l))
print("minimum number is : ",min(l))
print("added 333 to the given list : ",l.append(333))
print("deleted 333 from the given list : ",l.pop())
# pop will delete the last element added to the list
print("sorted list :  ",l.sort())

maximum number is :  8
minimum number is :  2
added 333 to the given list :  None
deleted 333 from the given list :  333
sorted list :   None

c. Write a program to get a list of the even numbers from a given list of numbers.(use
only comprehensions)

In [33]:
l=eval(input())
l=[x for x in l if int(x)%2==0 ]
print(l)
# [2,5,4,5,3,2,8]

[2,5,4,5,3,2,8]
[2, 4, 2, 8]