<a href="https://colab.research.google.com/github/naveenkarthikreddy/4rthSemPythonLab/blob/main/PythonLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON PROGRAMMING LAB 
(19CT1106)

K.NAVEEN KARTHIK REDDY 
(19131A0498)

LIST OF EXPERIMENTS:

WEEK1 Input and output

(a) Print the "Python" for 1, print "Day - 1" for 2. By changing the variable "look" for
each statement

In [ ]:
look=int(input("enter 0 or 1 only"))
if (look==0):
  print("Python")
elif(look==1):
  print("Day-1")
else:
  print("Wrong entry ! please enter o or 1 only")

(b)Create a variable "number" and assign an Integer to the number. Check the assigned
Integer is "Positive" or "Negative".

In [ ]:
number=int(input("enter any number"))
if(number>0):
  print("Given number is possitive")
elif(number<0):
  print("Gvien number is negative")
else:
  print("Given number is neither possitive nor negative")

(c) Write a program to find the largest element among three Numbers

In [ ]:
a,b,c=input().split()
largestNumber=a if a>b and a>c else b if b>c else c
print(largestNumber)

(d) Write a program to print the sum of all the even numbers in the range 1 - 50 and print
the even sum.

In [ ]:
evenSum=0
for i in range(1,51):
  if (i%2==-0):
    evenSum+=i
print(evenSum)

(e) Write a Program to display all prime numbers within an interval of 20 and 50.

In [ ]:
from math import *
for i in range(20,51):
  checkIfPrime(i)
def checkIfPrime(num):
  for i in range(2,int(sqrt(num))+1):
    if num%i==0:
      break
  else:
    print(num)

WEEK2 Variables and Functions

a. Write a program to swap two numbers without using a temporary variable.

In [ ]:
a,b=input().split()
a,b=b,a
print(a)
print(b)

b. Write a program to define a function with multiple return values

In [ ]:
def add_sub(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
sum,sub=add_sub(4,2)
print(sum)
print(sub)

c. Write a program which creates an adder given a value (Use only lambda).

In [ ]:
adder=lambda a,b :a+b
adder(2,4)

d. Write a program to define a function using default arguments.

In [ ]:
def default_args(a="python",b="lab"):
  print(a)
  print(b)
default_args()
default_args("gvp","vizag")

WEEK3 Loops and conditionals

a. Write a program to print the following patterns using loop:
*
**
***
****

In [ ]:
for i in range(1,5):
  print("*"*i)

b. Write a program to print multiplication tables of 8, 15, 69.

In [ ]:
def tables(n,limit):
  for i in range(1,limit+1):
    print(n,"*",i,"=",n*i)
  print()  

NoOfTimes=10
tables(8,NoOfTimes)
tables(15,NoOfTimes)
tables(69,NoOfTimes)

In [ ]:
print("this is python file")