<a href="https://colab.research.google.com/github/naveenkarthikreddy/4rthSemPythonLab/blob/main/PythonLab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PYTHON PROGRAMMING LAB 
(19CT1106)

K.NAVEEN KARTHIK REDDY 
(19131A0498)

LIST OF EXPERIMENTS:

WEEK1 Input and output

(a) Print the "Python" for 1, print "Day - 1" for 2. By changing the variable "look" for
each statement

In [2]:
look=int(input("enter 0 or 1 only  "))
if (look==0):
  print("Python")
elif(look==1):
  print("Day-1")
else:
  print("Wrong entry ! please enter o or 1 only")

enter 0 or 1 only  1
Day-1

(b)Create a variable "number" and assign an Integer to the number. Check the assigned
Integer is "Positive" or "Negative".

In [ ]:
number=int(input("enter any number   "))
if(number>0):
  print("Given number is possitive")
elif(number<0):
  print("Given number is negative")
else:
  print("Given number is neither possitive nor negative")

enter any number   -1
Given number is negative

(c) Write a program to find the largest element among three Numbers

In [ ]:
a,b,c=input().split()
largestNumber=a if a>b and a>c else b if b>c else c
print(largestNumber)

2 5 4
5

(d) Write a program to print the sum of all the even numbers in the range 1 - 50 and print
the even sum.

In [ ]:
evenSum=0
for i in range(1,51):
  if (i%2==-0):
    evenSum+=i
print(evenSum)

650

(e) Write a Program to display all prime numbers within an interval of 20 and 50.

In [ ]:
from math import *
def checkIfPrime(num):
  for i in range(2,int(sqrt(num))+1):
    if num%i==0:
      break
  else:
    print(num) 
for i in range(20,51):
  checkIfPrime(i)

23
29
31
37
41
43
47

WEEK2 Variables and Functions

a. Write a program to swap two numbers without using a temporary variable.

In [ ]:
a,b=input().split()
a,b=b,a
print(a)
print(b)

5 4
4
5

b. Write a program to define a function with multiple return values

In [ ]:
def add_sub(a,b):
  sum=a+b
  sub=a-b
  return sum,sub
sum,sub=add_sub(4,2)
print(sum)
print(sub)

6
2

c. Write a program which creates an adder given a value (Use only lambda).

In [ ]:
adder=lambda a,b :a+b
adder(2,4)

6

d. Write a program to define a function using default arguments.

In [ ]:
def default_args(a="python",b="lab"):
  print(a)
  print(b)
default_args()
default_args("gvp","vizag")

python
lab
gvp
vizag

WEEK3 Loops and conditionals

a. Write a program to print the following patterns using loop:
*
**
***
****

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

b. Write a program to print multiplication tables of 8, 15, 69.

In [ ]:
def tables(n,limit):
  for i in range(1,limit+1):
    print(n,"*",i,"=",n*i)
  print()  

NoOfTimes=10
tables(8,NoOfTimes)
tables(15,NoOfTimes)
tables(69,NoOfTimes)

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

69 * 1 = 69
69 * 2 = 138
69 * 3 = 207
69 * 4 = 276
69 * 5 = 345
69 * 6 = 414
69 * 7 = 483
69 * 8 = 552
69 * 9 = 621
69 * 10 = 690

WEEK4 Strings

a. Write a program to find the length of the string without using any library functions

In [ ]:
def length(string):
  length=0
  for i in string:
    length+=1
  print(length)

length("GVPCE")

5

b. Write a program to check if two strings are anagrams or not.

In [ ]:
def anagram(s1,s2):
  s1=sorted(s1.lower())
  s2=sorted(s2.lower())
  return s1==s2
# anagram("piG","g i p")
anagram("pig","gip")

True

c. Write a program to check if the substring is present in a given string or not. (use regular
expressions)

In [ ]:
import re

Str = input("enter the string   ")
subStr=input("enter the substring   ")
x = re.findall(subStr, Str)
if(len(x)!=0):
  print("substring is present in a given string ")
else:
  print("not here")

enter the string   this is python regular expressions
enter the substring   regular
substring is present in a given string

WEEK5 lists

a. Write a program to perform the given operations on a list:
i. add ii. insert iii. slicing

In [ ]:
def add(listt,value):
  listt.append(value)
  print(listt)

def insert(listt,indexNumber,value):
  listt[indexNumber]=value
  print(listt)

def slicing(listt,startingIndex,endingIndex):

  slicedList=listt[startingIndex:endingIndex:]
  print(slicedList)

listt=[2,3,2,3,43,4]
slicing(listt,3,6)
insert(listt,4,3333)
add(listt,444)

[3, 43, 4]
[2, 3, 2, 3, 3333, 4]
[2, 3, 2, 3, 3333, 4, 444]

b. Write a program to perform any 5 built-in functions by taking any list

In [ ]:
l=[2,5,4,5,3,2,8]
print("maximum number is : ",max(l))
print("minimum number is : ",min(l))
print("added 333 to the given list : ",l.append(333))
print("deleted 333 from the given list : ",l.pop())
# pop will delete the last element added to the list
print("sorted list :  ",l.sort())

maximum number is :  8
minimum number is :  2
added 333 to the given list :  None
deleted 333 from the given list :  333
sorted list :   None

c. Write a program to get a list of the even numbers from a given list of numbers.(use
only comprehensions)

In [ ]:
l=eval(input())
l=[x for x in l if int(x)%2==0 ]
print(l)
# [2,5,4,5,3,2,8]

[2,5,4,5,3,2,8]
[2, 4, 2, 8]

WEEK6 TUPLES

a. Write a program to create tuples (name, age, address, college) for at least two 
members and concatenate the tuples and print the concatenate tuples

In [15]:
l=[]
for i in range(int(input("enter the no of students      "))):
  print()
  name=input("enter the name of student no     ")
  age=input("enter the age       ")
  adress=input("enter the  adress      " )
  college=input("enter the college     ")
  print()
  t=name,age,adress,college
  print(t)
  l.append(t)
conc=()
for i in l:
  conc+=i
print()  
print(conc)

enter the no of students      3

enter the name of student no     fdfgd
enter the age       ddfsdf
enter the  adress      gdfg
enter the college     dgdsfg

('fdfgd', 'ddfsdf', 'gdfg', 'dgdsfg')

enter the name of student no     sdfasf
enter the age       dfgdsfg
enter the  adress      asfasfd
enter the college     sadfasdfsa

('sdfasf', 'dfgdsfg', 'asfasfd', 'sadfasdfsa')

enter the name of student no     sdfsaf
enter the age       asdfasfdsa
enter the  adress      asfasdfasdf
enter the college     dsfgdsfgds

('sdfsaf', 'asdfasfdsa', 'asfasdfasdf', 'dsfgdsfgds')
('fdfgd', 'ddfsdf', 'gdfg', 'dgdsfg', 'sdfasf', 'dfgdsfg', 'asfasfd', 'sadfasdfsa', 'sdfsaf', 'asdfasfdsa', 'asfasdfasdf', 'dsfgdsfgds')

b. Write a program to return the top 'n' most frequently occurring chars and their respectivecounts.
e.g. aaaaaabbbbcccc,  should return [(a 6) (b 4)]

In [41]:
strn="aaaaaabbbbcccc"
temp=strn[0]
count=0
l=[]
for i in range(len(strn)):
  if strn[i]==temp:
    count+=1
    temp=strn[i]
  else:
    l.append((temp,count))
    count=0
    temp=strn[i]
    count+=1
  if (i==len(strn)-1):
    l.append((temp,count))    
print(l)

[('a', 6), ('b', 4), ('c', 4)]

WEEK7 SETS

a. Write a program to count the number of vowels in a string (No control flow allowed).

b. Write a program that displays which letters are present in both strings.

In [44]:
s1="dddddddddeefff"
s2="ddggfffffffff"
s=set()
for i in s1:
  if (i in s1):
    s.add(i)
print(s)

{'f', 'e', 'd'}

c. Write a program to sort given list of strings in the order of their vowel counts.

In [48]:
l=["aaaaaa","aa","aaaa","aaa","a"]

def noOfVowels(x):
  count=0
  for i in x:
    if(i=="a" or i=="e" or i=="i" or i=="o" or i=="u"  ):
      count+=1
  return count      

l=sorted(l,key=noOfVowels)
print(l)

['a', 'aa', 'aaa', 'aaaa', 'aaaaaa']

WEEK8 DICTIONARIES

a. Write a program to generate a dictionary that contains numbers (between 1 and n ) 
in the form of (x, x*x).

In [51]:
dicc={}
for i in range(1,int(input("enter the value of n"))+1):
  dicc[i]=i*i
print(dicc)

enter the value of n5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

b. Write a program to check if a given key exists in a dictionary or not.

In [56]:
dicc={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
keyy=int(input("enter the value of key"))
if keyy in dicc.keys():
  print("ss")
else:
  print("no")

enter the value of key8
no

c. Write a program to add a new key-value pair to an existing dictionary.

In [59]:
dicc={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
keyy=int(input("enter the new key"))
valuee=int(input("enter the new value"))
dicc[keyy]=valuee
print(dicc)

enter the new key55
enter the new value555
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 55: 555}

d. Write a program to sum all the items in a given dictionary

In [62]:
dicc={1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
l=dicc.keys()
print(l)

dict_keys([1, 2, 3, 4, 5])

WEEK9 FILES

a. Write a program to sort words in a file and put them in another file. The output file 
should have only lower case words, so any upper case words from source must be 
lowered. (Handle exceptions)

b. Write a program to find the most frequent words in a text.(read from a text file)

WEEK 10 CLASSES

a. Write a Python class named Person with attributes name, age, weight (kgs), height 
(ft) and takes them through the constructor and exposes a method get_bmi_result() 
which returns one of "underweight", "healthy", "obese".

b. Write a Python class named Circle constructed by a radius and two methods which 
will compute the area and the perimeter of a circle.

WEEK 11 ARRAYS

a. Write a program to create, display, append, insert and reverse the order of the items in the array

b. Write a program to add, transpose and multiply two matrices.

WEEK12 GUI

Write a program to create a basic calculator using tkinter.

ADDITIONAL PROGRAMS

1. Write a program to check whether a given number has an even number of 1's in its 
binary representation (No control flow allowed).

2. Write a program to implement user defined map() function.

3. Write a program to return a list in which duplicates are removed and the items are 
sorted from a given input list of strings.

4. Write a program to implement left binary search

5. Write a program to change days to hours, hours to minutes, and minutes to seconds 
using currying of composition of function.

6. Write a program to generate an infinite number of even numbers (Use generator)

7. Write a program to convert a given iterable into a list. (Using iterator)

8. Write a program that accepts a sequence of whitespace separated words as input and 
printsthe words after removing all duplicate words and sorting themalphanumerically

9. Given a string and a number k, find the kth non-repeating character in the string. 
Consider a large input string with lakhs of characters and a small character set. How 
to find the character by only doing only one traversal of input string?

e.g. input : str = hellopython k=3; output = y

   10. To add 'ing' at the end of a given string (length should be at least 3). If the givenstring already ends with 'ing' then add 'ly' instead. If the string length of the 
given string is less than 3, leave it unchanged.
e.g. input : 'abc' output : 'abcing' ; input : 'string' output : 'stringly'**bold text**